
.bigform{
	font: 95%;
	margin: 0 auto;
	padding: 16px;
	background: white;
	width:100%;
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.bigform h1{
	background: var(--col1);
	padding: 40px 20px 20px 15px;
	font-size: 150%;
	text-align: left;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.bigform .label{
	padding-bottom:2px;
}
.bigform .info {
	font-size:70%;
	position:absolute;
	bottom:0;
	opacity:.5;
}
.bigform .formGroup{
	position:relative;
	margin-bottom:20px;
}
.bigform input[type="text"],
.bigform input[type="date"],
.bigform input[type="datetime"],
.bigform input[type="email"],
.bigform input[type="number"],
.bigform input[type="search"],
.bigform input[type="time"],
.bigform input[type="url"],
.bigform textarea,
.bigform select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95%;
}
.bigform input[type="text"]:focus,
.bigform input[type="date"]:focus,
.bigform input[type="datetime"]:focus,
.bigform input[type="email"]:focus,
.bigform input[type="number"]:focus,
.bigform input[type="search"]:focus,
.bigform input[type="time"]:focus,
.bigform input[type="url"]:focus,
.bigform textarea:focus,
.bigform select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.bigform input[type="submit"],
.bigform input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.bigform input[type="submit"]:hover,
.bigform input[type="button"]:hover{
	background: #2EBC99;
}
.saved .bigform .info{
	display:none;
}
.saved .bigform input[type="text"],
.saved .bigform input[type="number"]{
	background:var(--background);
	color:black;
	border:none;
}
