#home{
	padding-bottom:80px;
	border-bottom:10px solid var(--col1Bold);
}
#home a{
	color:var(--backgroundBold);
}
#home h1{
	width:100%;
	padding:20px;
	color:white;
	font-size:1.3em;
	background:var(--col1Bold)
}
#home .content {
	padding:20px;
}
#home .section{
	margin-bottom:20px;
}
#home h2 {
	color:var(--col1Bold);
	width:100%;
	border-bottom:1px solid var(--col1Bold);
	font-family:open_sansbold;
	padding-bottom:5px;
	margin-bottom:10px;
}
#home h3 {
	color:var(--col1Bold);
	margin-bottom:5px;
	font-size:1.1em;
}
#home p{
	max-width:600px;
	line-height:1.4em;
	margin-bottom:1.2em;
}
#home .images{
	display:flex;
	align-items:center;
	margin-bottom:40px;
}
#home .images img {
	display:inline-block;
	height:450px;
	width:auto;
}
#home .images #widget_image{
	height:300px;
}