:root {
	--menuWidth:250px;
	--brandingWidth:250px;
	--headerHeight:80px;
	--padding:8px;
	--vpHeight:calc(100vh - var(--headerHeight));
	--background:rgba(0, 130, 179, 0.05);
	--backgroundBold:rgba(0,130,179,1);
	--col1:rgba(0,168,145,0.8);
	--col1Bold:rgba(0,168,145,1);
	--col2:rgba(125,194,79,0.8);
	--col2Bold:rgba(125,194,79,1);
	--col3:rgba(0,130,179,0.8);
	--col3Bold:rgba(0,130,179,1);
	--col4:rgb(235,127,55);
}

.widget, #header, #menu, th {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*********************************** The main page structure */
body,html {
	width:100%;
	height:100%;
	position:relative;
	font-family:"open_sansregular","sans-serif";
	background:var(--col2);
}
* {
	box-sizing: border-box;
}
#app {
	width:100vw;
	height:100vh;
	display:flex;
	align-items:stretch;
	flex-direction:column;
	opacity:0;
	transition:opacity .25s;
	
}
#header {
	display:flex;
	height:var(--headerHeight);	
	z-index:10;
	background:white;
}
#header #branding{
	width:var(--brandingWidth);
	background:var(--col2);
	z-index:10;
	
}
#header #actions{
	flex:1;
	background:var(--col2);
}

#panel {
	flex:1;
	display:flex;
	align-items:stretch;
	background:white;
}
#panel #menu{
	padding-top:1px;
	width:var(--menuWidth);
	background:var(--col1);
	overflow-y:auto;
	display:flex;
	flex-direction:column;
}
#panel #viewport {
	display:flex;
	flex:1;
	overflow-y:auto;
	background:var(--background);
	height:var(--vpHeight);
	position:relative;
}
#viewport .inner{
	flex:1;
	width:100%;
}
#viewport .page{
	
}
/*********************************** End the main page structure */

/*********************************** Sub sections */

#header #actions .inner {
	display:flex;
	height:100%;
	padding:var(--padding);
	align-items:center;
}
#header #actions .buttons {
	display:flex;
	flex:1;
	justify-content:flex-end;
}
#branding .inner{
	display:flex;
	align-items:center;
	height:100%;
	position:relative;
	padding:var(--padding);
	margin-left:15px;
	cursor:pointer;
}
#branding svg{
	height:90%;
	fill:var(--backgroundBold);
}
#header h2{
	color:var(--backgroundBold);
	font-size:1.5em;
	margin-left:10px;
}
#sites.page, #dsus.page {
	padding:20px;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 20px;
}
/*********************************** End Sub sections */

/*********************************** Decorations */
#header{
	border-bottom:1px solid var(--col1Bold);
}
#menu{
	border-right:2px solid var(--col1Bold);
}
#viewport .shadow{
	position:fixed;
	pointer-events: none;
	top:var(--headerHeight);
	bottom:0;
	left:var(--menuWidth);
	right:0;
	box-shadow: inset 4px 4px 8px 0px rgba(0,0,0,0.5);
	z-index:10;
}

/*********************************** End decorations */

/*********************************** Modal */
#modal {
	position:fixed;
	display:flex;
	top:var(--headerHeight);
	bottom:0;
	left:var(--menuWidth);
	right:0;
	background:var(--col1);
	align-items:center;
	justify-content:center;
	opacity:0;
	transform:scale(0,0);
	transition:all .5s;
	z-index:5;
}
#modal.show {
	opacity:1;	
	top:var(--headerHeight);
	bottom:0;
	left:var(--menuWidth);
	right:0;
	transform:scale(1,1);
}
#modal .message{
	min-height:200px;
	min-width:200px;
	background:white;
	transform:scale(.1,.1);
	transition:all .5s;
	max-width:90%;
}
#modal.show .message{
	transform:scale(1,1);
}
#modal .message{
	position:relative;
}
#modal .actions{
	position:absolute;
	display:flex;
	right:0;
	top:0;
}
#modal .action {
	font-size:1.5em;
	padding:8px;
	color:var(--col2Bold);
	cursor:pointer;
}
#modal .inner {
	padding:20px;
	margin-top:20px;
	max-width:350px;
	line-height:1.5em;
	text-align:center;
}
#modal .buttons{
	display:flex;
	margin-top:25px;
	justify-content:center;
}
#modal .buttons .button {
	text-transform:uppercase;
	padding:12px;
	margin:0 10px;
	color:white;
	background:var(--col2Bold);
	cursor:pointer;
}
#modal .buttons .proceed {
	background:var(--col4);
}
/*********************************** End modal */

/*********************************** The table */

#table table{
	width:100%;
}

#table td{
	padding:10px;
	padding-left:20px;
}
#table th {
	text-align:left;
	padding:20px;
	background:var(--col1Bold);
	color:white;
}

#table .sortable {
	cursor:pointer;
}
#table .sortable span{
	margin-right:5px;
}
#table .sortable svg{
	opacity:.5;
	transition:all .5s;
}
#table .sortable.desc svg{
	transform:rotate(180deg)
}
#table .sortable.active svg{
	opacity:1;
}
#table tr:nth-child(even){
	background:white;
}
#table td + td { 
	border-left:1px solid var(--col1); 
}
#table th + th { 
	border-left:1px solid rgba(250,250,250,.25); 
}
#table table {
	border-bottom:1px solid var(--col1);
}
/*********************************** End table */

